* {
  margin: 0;
  padding: 0;
}


.header {
  height: 130px;
  background-color: rgba(3, 6, 36, 1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
  z-index: 1000;
}

.header__title {
  font-size: 30px;
  font-family: 'arial black';
  letter-spacing: 0.3em;
  color: #fff;

}

.title2 {
color:  rgba(3, 6, 36, 1);
text-shadow:
    white 1px 0px,  white -1px 0px,
    white 0px -1px, white 0px 1px,
    white 1px 1px , white -1px 1px,
    white 1px -1px, white -1px -1px,
    white 0.5px 1px,  white -0.5px 1px,
    white 0.5px -1px, white -0.5px -1px,
    white 1px 0.5px,  white -1px 0.5px,
    white 1px -0.5px, white -1px -0.5px;
}

.items {
  margin-top: 10px;
}

.items ul li{
  display: inline;
}

.items a{
  text-decoration: none;
  font-size: 17px;
  font-family: 'arial black';
  color: #fff;
  margin:0 100px;
}
.body {
  height: 810px;
  background-color: rgba(3, 6, 36, 1);
  background-image: url('images/818.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  position: relative;
}

.background_black {
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 6, 36, 0.92);
}

.body_message {
  text-align: center;
  top: 50%;
  font-size: 80px;
  color: #fff;
  font-family: 'Georgia';
  font-weight: 800;
  letter-spacing: 0.05em;
  background: linear-gradient(transparent 95%, rgb(245, 249, 51) 95%);
  position: relative;
  color: rgb(245, 249, 51);
  padding-bottom: 0;
}

.member {
  height: 780px;
  background-color: green;
}

.about {
  height: 780px;
  background-color: white;
}

.view {
  height: 780px;
  background-color: blue;
}

.contact {
  height: 780px;
  background-color: red;
}
