* {
  margin: 0;
  padding: 0;
}


.header {
  height: 120px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
  z-index: 1000;
}

.header__title {
  font-size: 30px;
  font-family: 'Impact';
  letter-spacing: 0.5em;
  color:  #fff;
  text-shadow:
    rgb(0, 0, 0) 1px 0px,  rgb(0, 0, 0) -1px 0px,
    rgb(0, 0, 0) 0px -1px, rgb(0, 0, 0) 0px 1px,
    rgb(0, 0, 0) 1px 1px , rgb(0, 0, 0) -1px 1px,
    rgb(0, 0, 0) 1px -1px, rgb(0, 0, 0) -1px -1px,
    rgb(0, 0, 0) 0.5px 1px,  rgb(0, 0, 0) -0.5px 1px,
    rgb(0, 0, 0) 0.5px -1px, rgb(0, 0, 0) -0.5px -1px,
    rgb(0, 0, 0) 1px 0.5px,  rgb(0, 0, 0) -1px 0.5px,
    rgb(0, 0, 0) 1px -0.5px, rgb(0, 0, 0) -1px -0.5px;
}

.title2 {
  color:  rgba(255, 255, 255, 1);
  text-shadow:
    rgb(0, 0, 0) 1px 0px,  rgb(0, 0, 0) -1px 0px,
    rgb(0, 0, 0) 0px -1px, rgb(0, 0, 0) 0px 1px,
    rgb(0, 0, 0) 1px 1px , rgb(0, 0, 0) -1px 1px,
    rgb(0, 0, 0) 1px -1px, rgb(0, 0, 0) -1px -1px,
    rgb(0, 0, 0) 0.5px 1px,  rgb(0, 0, 0) -0.5px 1px,
    rgb(0, 0, 0) 0.5px -1px, rgb(0, 0, 0) -0.5px -1px,
    rgb(0, 0, 0) 1px 0.5px,  rgb(0, 0, 0) -1px 0.5px,
    rgb(0, 0, 0) 1px -0.5px, rgb(0, 0, 0) -1px -0.5px;
}

.items {
  margin-top: 15px;
}

.items ul li{
  display: inline;
}

.items a{
  text-decoration: none;
  font-size: 17px;
  font-family: 'Impact';
  color:  #fff;
  text-shadow:
    rgb(0, 0, 0) 1px 0px,  rgb(0, 0, 0) -1px 0px,
    rgb(0, 0, 0) 0px -1px, rgb(0, 0, 0) 0px 1px,
    rgb(0, 0, 0) 1px 1px , rgb(0, 0, 0) -1px 1px,
    rgb(0, 0, 0) 1px -1px, rgb(0, 0, 0) -1px -1px,
    rgb(0, 0, 0) 0.5px 1px,  rgb(0, 0, 0) -0.5px 1px,
    rgb(0, 0, 0) 0.5px -1px, rgb(0, 0, 0) -0.5px -1px,
    rgb(0, 0, 0) 1px 0.5px,  rgb(0, 0, 0) -1px 0.5px,
    rgb(0, 0, 0) 1px -0.5px, rgb(0, 0, 0) -1px -0.5px;
  margin:0 100px;
}
.body {
  height: 810px;
  background-color: #fff;
  background-image: url('images/human.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  position: relative;
}

.body_message_bottom {
  text-align: center;
  top: 75%;
  font-size: 60px;
  font-family: 'Hiragino Mincho Pro';
  font-weight: normal;
  letter-spacing: 0.05em;
  position: relative;
  color: rgb(136, 136, 136);
  padding-bottom: 0;
  width: 100%;
}

.about {
  height: 780px;
  background-color: yellow;
  z-index: 10;
}

.member {
  height: 780px;
  background-color: green;
  z-index: 10;
}

.view {
  height: 780px;
  background-color: blue;
}

.contact {
  height: 780px;
  background-color: red;
  z-index: 10;
}
