/*グラデーションのサイト
https://uigradients.com/#OrangeCoral　*/

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover img {
  opacity:0.6;
}

#header {
  height: 120px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 0.5px 4px gray;
}

.header__title {
  font-size: 30px;
  font-family: 'Impact';
  letter-spacing: 0.5em;
  color:  #fff;
  text-shadow: /*輪郭の色付け*/
    rgb(0, 0, 0) 2px 0px,  rgb(0, 0, 0) -2px 0px,
    rgb(0, 0, 0) 0px -2px, rgb(0, 0, 0) 0px 2px,
    rgb(0, 0, 0) 2px 2px , rgb(0, 0, 0) -2px 2px,
    rgb(0, 0, 0) 2px -2px, rgb(0, 0, 0) -2px -2px,
    rgb(0, 0, 0) 1px 2px,  rgb(0, 0, 0) -1px 2px,
    rgb(0, 0, 0) 1px -2px, rgb(0, 0, 0) -1px -2px,
    rgb(0, 0, 0) 2px 1px,  rgb(0, 0, 0) -2px 1px,
    rgb(0, 0, 0) 2px -1px, rgb(0, 0, 0) -2px -1px;
}

.items {
  margin-top: 15px;
}

.items ul li{
  display: inline;
}

.items a{
  font-size: 17px;
  font-family: 'Impact';
  color:  #fff;
  text-shadow:
    rgb(0, 0, 0) 1px 0px,  rgb(0, 0, 0) -1px 0px,
    rgb(0, 0, 0) 0px -1px, rgb(0, 0, 0) 0px 1px,
    rgb(0, 0, 0) 1px 1px , rgb(0, 0, 0) -1px 1px,
    rgb(0, 0, 0) 1px -1px, rgb(0, 0, 0) -1px -1px,
    rgb(0, 0, 0) 0.5px 1px,  rgb(0, 0, 0) -0.5px 1px,
    rgb(0, 0, 0) 0.5px -1px, rgb(0, 0, 0) -0.5px -1px,
    rgb(0, 0, 0) 1px 0.5px,  rgb(0, 0, 0) -1px 0.5px,
    rgb(0, 0, 0) 1px -0.5px, rgb(0, 0, 0) -1px -0.5px;
  margin:0 100px;
}

.btn-top{
  position: fixed;
  top: 90%;
  right: 5%;
  font-size: 15px;
}



#body {
  margin-top: -120px;
  height: 1050px;
  background-color: #fff;
  background-image: url('images/keyboard.jpg');
  background-size: 100%;
  background-position: 50% -10%;
  background-repeat: no-repeat;
  background-attachment:fixed;

}

.white-cover {
  height: 100%;
  width: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 1));
}

.body_message {
  width: 100%;
  text-align: center;
  top: 80%;
  position: relative;
  padding-bottom: 0;
}

#about {
  margin-top: -300px;
  padding-top: 300px;
  width: 100%;
  height: 450px;
}

.abo-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(-90deg, rgba(255, 145, 75, 0.8), rgba(255, 0, 0, 0.8))
}

.about_title {
  position: relative;
  top: 10%;
  font-size: 50px;
  text-align: center;
}

.about_massage {
  position: relative;
  text-align: center;
  font-size: 20px;
  top: 15%;
}

#member {
  margin-top: -300px;
  padding-top: 300px;
  width: 100%;
  height: 500px;
}

.mem-container {
  height: 100%;
  width: 100%;
  background: linear-gradient(-90deg, rgb(165, 241, 246), rgba(40, 110, 245, 0.8))
}

#member h1{
  padding-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.teacher_info {
  display: flex;
  flex-direction: row;
}

.teacher_img {
  text-align: center;
  width: 40%;
  position: relative;
  left: 10%;
}

.img-cau {
  margin-top: 10px;
  font-size:15px;
  font-family: 'Osaka';
}


.teacher_text {
  font-size: 20px;
  width: 40%;
  text-align: center;
  margin-right: 30px;
  position: relative;
  left: 6%;
}

.tea_major {
  font-size: 18px;
}

.teacher_text h4{
  margin-top:5px;
  position: relative;
  left: 15%;
  text-align: left;
}

.works h5{
  text-align: left;
  left: 15%;
  position: relative;
  padding-top: 10px;
}

.works a{
  position: relative;
  left: -20%;
}

.works img{
  margin-top: 20px;
  height:60px;
  width: 80px;
}

#view {
  margin-top: -300px;
  padding-top: 300px;
  height: 500px;
  width: 100%;
  text-align: left;
}

.view-abo {
  height: 450px;
  width: 50%;
  position: relative;
  margin: 20px 10px;
}

.view-text {
  margin: 30px 40px;
  font-size: 15px;
  line-height: 32px;
}

.view-text span{
  font-size: 27px;
}

.view-container {
  height: 100%;
  width: 100%;
  display: flex;
  direction: row;
  background: linear-gradient(90deg, rgb(0, 176, 155), rgba(150, 201, 61, 0.8))
}

#contact {
 height: 400px;
 width: 100%;
}

.con-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.con-container h1{
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 100px;
  font-family: 'impact';
  letter-spacing: 0.07em;
  color: #fff;
  text-shadow: /*輪郭の色付け*/
    rgb(0, 0, 0) 1px 0px,  rgb(0, 0, 0) -1px 0px,
    rgb(0, 0, 0) 0px -1px, rgb(0, 0, 0) 0px 1px,
    rgb(0, 0, 0) 1px 1px , rgb(0, 0, 0) -1px 1px,
    rgb(0, 0, 0) 1px -1px, rgb(0, 0, 0) -1px -1px,
    rgb(0, 0, 0) 0.5px 1px,  rgb(0, 0, 0) -0.5px 1px,
    rgb(0, 0, 0) 0.5px -1px, rgb(0, 0, 0) -0.5px -1px,
    rgb(0, 0, 0) 1px 0.5px,  rgb(0, 0, 0) -1px 0.5px,
    rgb(0, 0, 0) 1px -0.5px, rgb(0, 0, 0) -1px -0.5px;
}

.con-items {
  margin-top: 35px;;
}

.a-top {
  font-size: 20px;
  font-weight: bold;
}
